/*_________________________________________100_caractères_________________________________________*/
/* DEBUT partie générale ---------------------------------------------------------*/
* {    /* RESET */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

a:link, a:visited, a:hover {
  color: blue;
}
a:hover {
  text-decoration: underline;
}

body{
  background-image: url(../img/michael-marais.jpg);
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: 1fr 30px;
  font-family: Arial, Helvetica, sans-serif;
}
/* FIN partie générale ---------------------------------------------------------*/

/* DEBUT HEADER ---------------------------------------------------------*/
header {
  grid-row: 1 / span 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(188,115,33,1);
  width: 150px;
  height: 100vh;
}

.logo {
  display: flex;
  justify-content: center;
}

.logo_icon {
  height: 80px;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  font-size: 2.5rem;
  font-weight: bold;
}

nav a {
  display: flex;
  flex-direction: column;
  align-items: center;

  border: solid thin black;
  border-radius: 10px;

  
  width: 140px;
  padding: 5px;
  background-color: rgba(208,163,112,1);
  font-size: 1.25rem;
}

nav a img{
  height: 40px;
}
/* FIN HEADER ---------------------------------------------------------*/

/* DEBUT MAIN ---------------------------------------------------------*/
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 10px;
}

#seach_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 0 10px;
  border-radius: 50px;
  background-color: rgba(255,222,173,1);
}
#seach_bar img{
  height: 40px;
}
#seach_bar input {
  background-color: rgba(255,248,220,1);
  height: 30px;
  border: solid thin black;
  border-radius: 20px;
  text-align: center;
}
.place input {
  width: 200px;
}
.date input {
  width: 100px;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
}

.presentation {
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 75%;
  height: fit-content;
  background-color: rgba(255,222,173,0.93);
  border: solid thin black;
  border-radius: 25px;
  font-size: large;
}
/* FIN MAIN ---------------------------------------------------------*/

/* DEBUT FOOTER ---------------------------------------------------------*/
footer {
  flex-grow: 1;
  position: sticky;
  bottom: 0;
  height: fit-content;
  padding: 5px 25px;
  background-color: rgba(164,220,172,1);
}
/* FIN FOOTER ---------------------------------------------------------*/

/*_________________________________________100_caractères_________________________________________*/