<div class="legals">
  <div class="presentation">
    <h1>MENTIONS LÉGALES</h1>
    <p>
      Conformément aux dispositions de la loi n° 2004-575 du 21 juin 2004 pour la confiance en l'économie numérique, il est précisé aux utilisateurs du site "EcoRide" l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi.
    </p>
    <h2>Edition du site</h2>
    <p>Le présent site, accessible à l'URL "https://www.url.com" (le "Site"), est édité par&nbsp:</p><br>
    <p class="indent">Emilien GIBEAUD</p>
    <p class="indent">2 route de Saint Sigismond</p>
    <p class="indent">85490 BENET</p><br>
    <p>de nationalité Française (France), né le 15/02/1986.</p>

    <h2>Hébergement</h2>
    <p>Le site est hébergé par&nbsp:</p><br>
    <p class="indent">Nom hébergeur</p>
    <p class="indent">Adresse</p>
    <p class="indent">Ville, CODE POSTALE</p>
    <p class="indent">Pays</p><br>
    <p class="indent">
      <strong>Site Web&nbsp:&nbsp</strong>  <a  href="https://www.site-hébergeur.com"
                                        target="_blank" 
                                        title="Lien vers https://www.site-hébergeur.com">
                                        https://www.site-hébergeur.com
                                    </a>
    </p>

    <h2>Directeur de publication</h2>
    <p>Le directeur de la publication du site est Emilien GIBEAUD.</p>
    <h2>Nous contacter</h2>
    <p class="indent"><strong>Par email&nbsp:&nbsp</strong>emiliengibeaud@gmail.com<br>
    </p>

    <h2>Confidentialité</h2>
    <p class="indent"><strong>Données personnelles&nbsp:&nbsp</strong>
      Ce site collecte des données personnelles. Vos données personnelles xxxxxxxxxxxxxxxx
    </p>
    <p class="indent"><strong>Cookies&nbsp:&nbsp</strong>Ce site utilise des cookies. Vos cookies blablabla</p><br>

    <br>
    <p>Génération des mentions légales par
      <a  href="https://www.legalstart.fr/" target="_blank" 
          title="Lien vers https://www.legalstart.fr/">Legalstart</a>, adaptation par Emilien GIBEAUD.
    </p>
  </div>
</div>
